# ~~~
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=

# See https://portal.cdp.coinbase.com/products/onchainkit
NEXT_PUBLIC_CDP_API_KEY="GET_FROM_COINBASE_DEVELOPER_PLATFORM"
CDP_API_KEY_NAME=""
CDP_API_KEY_PRIVATE_KEY=""
WALLET_DATA={}

# ~~~
NEXT_PUBLIC_ENVIRONMENT=localhost

# See https://cloud.walletconnect.com/
NEXT_PUBLIC_WC_PROJECT_ID="GET_FROM_WALLET_CONNECT"

# API Key
# Blockchain-explorer APIs
NEXT_PUBLIC_ETHERSCAN_API_BASE_URL="https://api.etherscan.io/api"
NEXT_PUBLIC_ETHERSCAN_API_KEY=

NEXT_PUBLIC_BASESCAN_API_BASE_URL="https://api.basescan.org/api"
NEXT_PUBLIC_BASESCAN_API_KEY=

NEXT_PUBLIC_OPTIMISMSCAN_API_BASE_URL="https://api-optimistic.etherscan.io/api"
NEXT_PUBLIC_OPTIMISMSCAN_API_KEY=

NEXT_PUBLIC_BSCSCAN_API_BASE_URL="https://api.bscscan.com/api"
NEXT_PUBLIC_BSCSCAN_API_KEY=

NEXT_PUBLIC_ARBSCAN_API_BASE_URL="https://api.arbiscan.io/api"
NEXT_PUBLIC_ARBSCAN_API_KEY=

NEXT_PUBLIC_VICSCAN_API_BASE_URL="https://www.vicscan.xyz/api"
NEXT_PUBLIC_DAGORA_API_BASE_URL="https://main-server.dagora.xyz/adapters/dagora"

# 3rd-party APIs
NEXT_PUBLIC_RESERVOIR_API_BASE_URL="https://api.reservoir.tools"
NEXT_PUBLIC_RESERVOIR_API_KEY=

NEXT_PUBLIC_MORALIS_API_BASE_URL="https://deep-index.moralis.io/api"
NEXT_PUBLIC_MORALIS_API_KEY=

NEXT_PUBLIC_ALCHEMY_API_BASE_URL="https://eth-mainnet.g.alchemy.com"
NEXT_PUBLIC_ALCHEMY_API_KEY=

NEXT_PUBLIC_CMC_API_BASE_URL="https://pro-api.coinmarketcap.com"
NEXT_PUBLIC_CMC_API_KEY=

NEXT_PUBLIC_TALENTPASSPORT_API_BASE_URL="https://api.talentprotocol.com/api"
NEXT_PUBLIC_TALENTPASSPORT_API_KEY=

# Pinata
PINATA_JWT=
